@import 'keep-react/css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: auto;
}

.shape {
  @apply relative z-20 before:absolute before:left-0 before:right-0 before:top-0 before:-z-[1] before:block before:h-full before:w-full before:bg-[url('/images/onboard/pattern.svg')] before:bg-center before:bg-no-repeat before:content-[''];
}

#scroll-bar::-webkit-scrollbar {
  @apply hidden;
}

#scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* CALENDAR */

.react-calendar {
  border: none !important;
  width: 100% !important;
  font-family: 'Inter', sans-serif !important;
  @apply bg-white text-black dark:bg-metal-900 dark:text-white;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  padding: 0px 20px !important;
  text-align: right !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  margin-left: 2px !important;
  border: none !important;
  background-color: #f1f0ff !important;
}

.rbc-toolbar button.rbc-active {
  box-shadow: none !important;
  background-color: #dbdafe !important;
}

.rbc-time-view {
  @apply border !border-metal-50 dark:!border-metal-800;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 27px 20px !important;
}

.rbc-timeslot-group {
  @apply !border-b !border-b-metal-50 bg-white dark:!border-b-metal-800 dark:bg-metal-900;
}
.rbc-time-content > * + * > * {
  @apply border-l !border-l-metal-50 dark:!border-l-metal-800;
}

.rbc-day-slot {
  font-size: 14px !important;
}
.rbc-day-slot .rbc-time-slot {
  @apply !border-none;
}

.rbc-event {
  @apply !m-2.5 !w-[96%] !rounded-e-xl !border-y-0 !border-l-4 !border-r-0 !p-2.5 !text-body-4 !font-normal !text-metal-900 dark:!text-white;
}

.rbc-event-label {
  @apply !hidden;
}

.rbc-event-content {
  @apply !h-full;
}

.rbc-event:nth-child(1) {
  @apply !border-l-primary-100 bg-primary-50 !text-primary-500 dark:!border-l-primary-500 dark:bg-primary-900/30;
}
.rbc-event:nth-child(2) {
  @apply !border-l-metal-200 bg-metal-50 !text-metal-600 dark:!border-l-metal-600 dark:bg-metal-800/30 dark:!text-metal-300;
}
.rbc-event:nth-child(3) {
  @apply !border-l-error-200 bg-error-50 !text-error-500 dark:!border-l-error-600 dark:bg-error-800/30;
}
.rbc-event:nth-child(4) {
  @apply !border-l-warning-200 bg-warning-50 !text-warning-500 dark:!border-l-warning-600 dark:bg-warning-800/30;
}
.rbc-event:nth-child(5) {
  @apply !border-l-success-200 bg-success-50 !text-success-500 dark:!border-l-success-600 dark:bg-success-800/30;
}
.rbc-event:nth-child(6) {
  @apply !border-l-primary-100 bg-primary-50 !text-primary-500 dark:!border-l-primary-500 dark:bg-primary-900/30;
}
.rbc-event:nth-child(7) {
  @apply !border-l-metal-200 bg-metal-50 !text-metal-300 dark:!border-l-metal-600 dark:bg-metal-800/30 dark:text-metal-600;
}
.rbc-event:nth-child(8) {
  @apply !border-l-error-200 bg-error-50 !text-error-500 dark:!border-l-error-600 dark:bg-error-800/30;
}
